:root{
    --main:green;
}

.box1{
    background-color:rgba(0,0,0,0.5);
margin-bottom: 20px;
border: solid white 2px;
padding:60px 30px;
}


.box{
    width:100%;
    height:200px;
    background-color:var(--main);
margin-bottom: 20px;
}